@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow:400,700|Montserrat:400,700');

// Your variable overrides
$font-family-sans-serif: 'Archivo Narrow', sans-serif;
$headings-font-family: 'Montserrat', sans-serif;
$code-color: #999999;

// Bootstrap and its default variables
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.colorSwatch {
    min-height: 50px;
    height: 100%;
    border-radius: 0.25em;
    border: 1px solid #ccc;

    .list-group-item & {
        border-radius: 0;
        border-width: 0 1px 0 0
    }
}
.list-group-item {
    overflow:hidden;
}
